<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>3</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E9E5F7191DB059F4AE6C9CBC0AB126FD097994F6</string>
				<key>dateExpires</key>
				<string>2026/9/20</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9E5F7191DB059F4AE6C9CBC0AB126FD097994F6</string>
						<key>dateExpires</key>
						<string>2026/9/20</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Capacitor.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A59UDY28BA</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>7.4.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E9E5F7191DB059F4AE6C9CBC0AB126FD097994F6</string>
						<key>dateExpires</key>
						<string>2026/9/20</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Cordova.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>A59UDY28BA</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>7.4.3</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>A59UDY28BA.kr.ysw.voca</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>A59UDY28BA</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>App.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>39d54be0-6c7e-4031-9db1-6d04d303102b</string>
				<key>dateExpires</key>
				<string>2026/9/20</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: kr.ysw.voca</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>A59UDY28BA</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.1.0</string>
		</dict>
	</array>
</dict>
</plist>
